
<section class="col-2-3">
    <section class="col-1-3">
        <article>
            <h1><a>Launching the New React/Redux Curriculum</a></h1>
            <span class="authorship">By APP ACADEMY INSTRUCTIONAL TEAM</span>
            <ul>
                <li>
                    <p>It helps you write applications that behave consistently, run in different environments (client, server, and native), and are easy to test. On top of that, it provides a great developer experience, such as live code editing combined with a time traveling debugger.</p>
                </li>
                <li>
                    <p>The whole state of your app is stored in an object tree inside a single store.
                    The only way to change the state tree is to emit an action, an object describing what happened. To specify how the actions transform the state tree, you write pure reducers.</p>
                </li>
            </ul>
            <a class="comment-link">1738 Comments</a>
        </article>
    </section>
    <section class="col-2-3">
        <iframe src="https://www.youtube.com/embed/ARe9FupzuOA" frameborder="0" allowfullscreen></iframe>
        <div class="vidcaption"><p>Warning: This video will make you want to change your career</div>
        <hr class="hr-top">
        <article>
        <h3><a>Where Are They Now?</a></h3>
        <span class="authorship">By APP ACADEMY ALUMNI</span>
        <p>First hand stories from App Academy graduates about transitioning to engineering positions at top tech companies in San Francisco.</p>
        </article>
        <hr class="hr-top">
        <article><h3><a>Cat Academy</a></h3>
        <span class="authorship">By APP ACADEMY DIRECTOR OF PRODUCTS</span>
        <p>App Academy's latest product targets those interested in owning the popular feline companion by providing a curated cat care curriculum. </p>
        </article>
    </section> 
    <hr class="hr-bottom">
</section>  
<section class="col-1-3" id="ops">
    <div id="opinion">
    <h2>The Opinion Pages</h2>

    <div class="col-1-2">
        <span class="section-title">Op-Ed Contributor</span>
        <article>
            <h3><a>Will Javascript ever be as easy as Ruby?</a></h3>
            <p>Javscript continues to advance with the newly released EcmaScript7 but it still doesn't quite read like Ruby.</p>
            <ul class="linklist">
                <li><a>Torvalds: When I Was Almost Wrong</a></li>
                <li><a>Knuth: Art of Programming</a></li>
                <li><a>Lovelace: The First Algorithm</a></li>
                <li><a>Hopper: The First Bug</a></li>
                <li><a>Thompson: Go C Unix</a></li>
                <li><a>Carmack: My Virtual Reality</a></li>
                <li><a>Stallman: Free Speech Not Free Coffee</a></li>
            </ul>
        </article>
    </div>
    <div class="col-1-2">
        <article>
            <span class="section-title">Operations</span>
            <h3><a>App Academy New York Has A Brand New Office</a></h3>
            <span class="authorship">By NY OPERATIONS</span>
            <p>The new space features hardwood floors and brick walls for a modern technology space with an aura for learning.</p>
            <div class="thumbnail"><img src="assets/new_office.jpg"></div>
        </article>
        <article>
            <h3><a>Opinion Today, in your Inbox</a></h3>
            <p>Each weekday, get though-provoking commentary from our columnists and contributors.</p>
        </article>
    </div>
    </div>
    <div id='signup'>
        <form>
            <span class="field">
                <input type="text" placeholder="Get the Opinion newsletter by email">
                <button type="button">Sign Up</button>
            </span>
        <div class="sneakytext">We'll also send offers to join the App Academy Bootcamp. You can never unsubscribe.</div>
        </form>
    </div>
    <hr class="hr-bottom">
</section>     
