

article ul {
    list-style: disc outside none;
}

section li {
    margin-left: 1em;
    margin-top: 5px;
    margin-bottom: 5px
}


li > p {
    // margin: 10px;
}

p {
    line-height: 1.5;
}

section li > a {
    font-weight: bold;
}

iframe {
    width: 100%;
    height: 315px;
}

.authorship {
    color: $gray;
    display: block;
    line-height: 1.5;
}

.section-title {
    text-transform: uppercase;
    font-size: 10px;
    line-height: 1.75;
}

form {
    margin-top: 10px;
    font-family: $sans-serif;
}

.field > button {
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}

.field > input[type=text] {
    border-right: none;
}


input[type=text] {
    border: 1px solid $light-gray;
    flex: 1;
    padding: 0px 8px;
}

input[type=text]::placeholder {
    color: $light-gray;
}


.field {
    display: flex;
    margin-bottom: 10px;
}

.sneakytext {
    color: $light-gray;
    font-size: 10px;
    line-height: 1.5;
    text-align: center
}

.comment-link {
    color: $blue;
    font-family: $sans-serif;
    display: block;
    margin: 20px 0px;
}

#ops {
    display: flex;
    flex-direction: column;
}

.linklist {
    font-size: 11px;
}

.thumbnail {
    height: 100px;
}

.thumbnail > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vidcaption {
    margin: 10px 0px
}
